<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="dmdlAttributeWizardDefinition" name="DMDL AttributeWizard definition" schema="schema/dmdlAttributeWizardDefinition.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.hishidama.jp/xtext/dmdl_editor/dmdl" 
       class = "jp.hishidama.xtext.dmdl_editor.dmdl.DmdlPackage"
       genModel = "jp/hishidama/xtext/dmdl_editor/DMDL.genmodel" /> 
	
  </extension>

   <extension
         point="jp.hishidama.xtext.dmdl_editor.dmdlAttributeWizardDefinition">
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.DirectioCsvAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.DirectioHiveOrcAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.DirectioHiveParquetAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.DirectioSeqfileAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.DirectioTsvAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.WindgateCsvAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.WindgateJdbcAttributeDefinition">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.internal.extension.attribute.WindgateTsvAttributeDefinition">
      </classpath>
   </extension>

</plugin>
