<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="dmdl"
            icon="icons/hishidama16.gif"
            id="jp.hishidama.xtext.dmdl_editor.DMDL"
            name="DMDL EditorX">
        </editor>
    </extension>
    <extension
            point="org.eclipse.ui.contexts">
        <context
            description="DMDL EditorX Scope"
            id="jp.hishidama.xtext.dmdl_editor.DMDLEditorScope"
            name="Editing DMDL"
            parentId="org.eclipse.xtext.ui.XtextEditorScope">
        </context>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="jp.hishidama.xtext.dmdl_editor.DMDL.validate">
         <activeWhen>
            <reference
                    definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="jp.hishidama.xtext.dmdl_editor.DMDL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="jp.hishidama.xtext.dmdl_editor.DMDL.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="jp.hishidama.xtext.dmdl_editor.DMDL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:jp.hishidama.xtext.dmdl_editor.ui.editor.preferences.DMDLRootPreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL"
            name="DMDL EditorX">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
        </page>
        <page
            category="jp.hishidama.xtext.dmdl_editor.DMDL"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL.coloring"
            name="Syntax Coloring">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
        </page>
        <page
            category="jp.hishidama.xtext.dmdl_editor.DMDL"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL.templates"
            name="Templates">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:jp.hishidama.xtext.dmdl_editor.ui.editor.preferences.DMDLRootPreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL"
            name="DMDL EditorX">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
        <page
              category="jp.hishidama.xtext.dmdl_editor.DMDL"
              class="jp.hishidama.eclipse_plugin.asakusafw_wrapper.property.AsakusafwVersionPropertyPage"
              id="jp.hishidama.xtext.dmdl_editor.ui.jp.hishidama.xtext.dmdl_editor.AsakusafwVersion"
              name="Asakusa Framework wrapper">
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
        <page
              category="jp.hishidama.xtext.dmdl_editor.ui.jp.hishidama.xtext.dmdl_editor.AsakusafwVersion"
              class="jp.hishidama.eclipse_plugin.asakusafw_wrapper.property.AsakusafwDmdlParserPropertyPage"
              id="jp.hishidama.xtext.dmdl_editor.ui.jp.hishidama.xtext.dmdl_editor.AsakusafwDmdlParser"
              name="DmdlParser">
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"
            label="DMDL"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="jp.hishidama.xtext.dmdl_editor.DMDL.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="jp.hishidama.xtext.dmdl_editor.DMDL.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="dmdl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="dmdl">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for jp.hishidama.xtext.dmdl_editor.DMDL -->
	<extension
	        id="dmdl.check.fast"
	        name="DMDL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="dmdl.check.normal"
	        name="DMDL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="dmdl.check.expensive"
	        name="DMDL Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

<!--
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="jp.hishidama.xtext.dmdl_editor.DMDL"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="jp.hishidama.xtext.dmdl_editor.DMDL"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="jp.hishidama.xtext.dmdl_editor.DMDL.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
-->

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for jp.hishidama.xtext.dmdl_editor.DMDL -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="jp.hishidama.xtext.dmdl_editor.ui.dmdl.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="jp.hishidama.xtext.dmdl_editor.ui.dmdl.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="jp.hishidama.xtext.dmdl_editor.ui.dmdl.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="jp.hishidama.xtext.dmdl_editor.DMDL"
	        class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="jp.hishidama.xtext.dmdl_editor.DMDL.refactoring"
	        name="Refactoring">
	        <keywordReference id="jp.hishidama.xtext.dmdl_editor.ui.keyword_DMDL"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="jp.hishidama.xtext.dmdl_editor.DMDL.compare.contentViewers"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="dmdl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="jp.hishidama.xtext.dmdl_editor.DMDL.compare.contentMergeViewers"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="dmdl" label="DMDL Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="jp.hishidama.xtext.dmdl_editor.DMDL.editors.documentProviders"
            class="jp.hishidama.xtext.dmdl_editor.ui.DMDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="dmdl">
    </provider>
  </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="jp.hishidama.xtext.dmdl_editor.command.searchDataModel"
            name="Search DataModel">
      </command>
      <command
            id="jp.hishidama.xtext.dmdl_editor.command.editDataModel"
            name="Edit DataModel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.search.SearchDataModelHandler"
            commandId="jp.hishidama.xtext.dmdl_editor.command.searchDataModel">
      </handler>
      <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.EditDataModelHandler"
            commandId="jp.hishidama.xtext.dmdl_editor.command.editDataModel">
         <enabledWhen>
            <reference
                  definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               label="DMDL EditorX">
            <command
                  commandId="jp.hishidama.asakusafwWrapper.command.dmdlErrorCheck"
                  icon="icons/hishidama16.gif"
                  tooltip="Asakusa FrameworkのDMDLパーサーを使用してDMDLのエラーチェックを行います。">
            </command>
            <command
                  commandId="jp.hishidama.asakusafwWrapper.command.dmdlCompile"
                  icon="icons/hishidama16.gif"
                  tooltip="Asakusa FrameworkのDMDLコンパイラーを起動してJavaクラスを生成します。">
            </command>
            <command
                  commandId="jp.hishidama.xtext.dmdl_editor.command.searchDataModel"
                  icon="icons/find_obj.gif"
                  tooltip="データモデル・プロパティーを検索します。">
            </command>
            <separator
                  name="beginNewWizard"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-datamodel">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.attribute">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-porter-class">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-jobflow-class">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-flowpart-class">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-batch-class">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="jp.hishidama.xtext.dmdl_editor.toolbar">
            <command
                  commandId="jp.hishidama.asakusafwWrapper.command.dmdlErrorCheck"
                  icon="icons/hishidama16.gif"
                  tooltip="Asakusa FrameworkのDMDLパーサーを使用してDMDLのエラーチェックを行います。">
            </command>
            <command
                  commandId="jp.hishidama.asakusafwWrapper.command.dmdlCompile"
                  icon="icons/hishidama16.gif"
                  tooltip="Asakusa FrameworkのDMDLコンパイラーを起動してJavaクラスを生成します。">
            </command>
            <command
                  commandId="jp.hishidama.xtext.dmdl_editor.command.searchDataModel"
                  icon="icons/find_obj.gif"
                  tooltip="データモデル・プロパティーを検索します。">
            </command>
            <separator
                  name="beginNewWizard"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-datamodel">
               </parameter>
            </command>
            <command
                  commandId="jp.hishidama.xtext.dmdl_editor.command.editDataModel"
                  icon="icons/edit_model.gif"
                  tooltip="既存のデータモデルを編集します。">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.attribute">
               </parameter>
            </command>
            <command
                  id="jp.hishidama.xtext.dmdl_editor.ui.toolbar.newClassWizard"
                  commandId="org.eclipse.ui.newWizard"
                  style="pulldown">
               <parameter
                     name="newWizardId"
                     value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-porter-class">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:jp.hishidama.xtext.dmdl_editor.ui.toolbar.newClassWizard">
         <command
               commandId="org.eclipse.ui.newWizard"
               style="pulldown">
            <parameter
                  name="newWizardId"
                  value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-porter-class">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               style="push">
            <parameter
                  name="newWizardId"
                  value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-jobflow-class">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               style="push">
            <parameter
                  name="newWizardId"
                  value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-flowpart-class">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               style="push">
            <parameter
                  name="newWizardId"
                  value="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-batch-class">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            name="DMDL EditorX">
      </category>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewDataModelWizard"
            icon="icons/new_model.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-datamodel"
            name="New DataModel">
         <description>
            データモデルを新規に作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.AttributeWizard"
            icon="icons/newannotation_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.attribute"
            name="Add/Remove attribute of DataModel">
         <description>
            データモデルに属性（@directio.csv等）を追加/削除します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewImporterExporterWizard"
            icon="icons/newclass_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-porter-class"
            name="New Importer/Exporter class">
         <description>
            データモデルからImporter/Exporterクラスを生成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewJobflowClassWizard"
            icon="icons/newclass_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-jobflow-class"
            name="New JobFlow class">
         <description>
            ジョブフロークラスを作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewFlowpartClassWizard"
            icon="icons/newclass_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-flowpart-class"
            name="New FlowPart class">
         <description>
            フロー演算子クラスを作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewBatchClassWizard"
            icon="icons/newclass_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-batch-class"
            name="New Batch class">
         <description>
            バッチクラスを作成します。
         </description>
      </wizard>
      <wizard
            category="jp.hishidama.xtext.dmdl_editor.ui.wizard-category"
            class="jp.hishidama.xtext.dmdl_editor.ui.wizard.NewJobflowTestClassWizard"
            icon="icons/newclass_wiz.gif"
            id="jp.hishidama.xtext.dmdl_editor.ui.wizard.new-jobflow-test-class"
            name="New JobFlow Test class">
         <description>
            ジョブフローテストクラスを作成します。
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.xtext.dmdl_editor.jdt.hyperlink.OpenDeclaredDmdlHyperlinkDetector"
            description="Open DMDL"
            id="jp.hishidama.jdt.xtext.dmdl_editor.open-declaration"
            modifierKeys="M2+F3"
            name="Open DMDL"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.xtext.dmdl_editor.jdt.hyperlink.OpenKeyDmdlHyperlinkDetector"
            description="Open DMDL"
            id="jp.hishidama.jdt.xtext.dmdl_editor.open-declaration-key"
            modifierKeys="M2+F3"
            name="Open DMDL"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.hishidama.xtext.dmdl_editor.jdt.category"
            name="DMDL EditorX">
      </category>
      <command
            categoryId="jp.hishidama.xtext.dmdl_editor.jdt.category"
            id="jp.hishidama.jdt.xtext.dmdl_editor.command.openLink"
            name="Open DMDL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.xtext.dmdl_editor.jdt.hyperlink.OpenDeclaredDmdlHyperlinkHandler"
            commandId="jp.hishidama.jdt.xtext.dmdl_editor.command.openLink">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.hishidama.jdt.xtext.dmdl_editor.command.openLink"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
   </extension>
   <extension point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            id="jp.hishidama.jdt.xtext.dmdl_editor.hover.DmdlJdtTextHover"
            class="jp.hishidama.xtext.dmdl_editor.jdt.hover.DmdlJdtTextHover"
            label="DMDL EditorX JDT TextHover"
            activate="true">
      </hover>
   </extension>

   <!-- F4 / DataModel Hierarchy -->
   <!-- see https://eclipse.googlesource.com/tmf/org.eclipse.xtext/+/Helios_Maintenance/plugins/org.eclipse.xtext.ui/plugin.xml -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            contextId="jp.hishidama.xtext.dmdl_editor.DMDLEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4"
            commandId="jp.hishidama.xtext.dmdl_editor.hyperlinking.OpenModelHierarchy">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.hishidama.xtext.dmdl_editor.commands.category"
            name="DMDL EditorX">
      </category>
      <command
            categoryId="jp.hishidama.xtext.dmdl_editor.commands.category"
            description="Open DataModel Hierarchy"
            id="jp.hishidama.xtext.dmdl_editor.hyperlinking.OpenModelHierarchy"
            name="Open DataModel Hierarchy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:#TextEditorContext?after=group.open">
         <command
               commandId="jp.hishidama.xtext.dmdl_editor.hyperlinking.OpenModelHierarchy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isActiveEditorAnInstanceOfXtextEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.xtext.dmdl_editor.ui.view.model_hierarchy.OpenModelHierarchyHandler"
            commandId="jp.hishidama.xtext.dmdl_editor.hyperlinking.OpenModelHierarchy">
         <activeWhen>
            <reference
                  definitionId="jp.hishidama.xtext.dmdl_editor.DMDL.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.hishidama.xtext.dmdl_editor.views.category"
            name="DMDL EditorX">
      </category>
      <view
            category="jp.hishidama.xtext.dmdl_editor.views.category"
            class="jp.hishidama.xtext.dmdl_editor.ui.view.model_hierarchy.ModelHierarchyView"
            icon="icons/class_hi.gif"
            id="jp.hishidama.xtext.dmdl_editor.view.ModelHierarchyView"
            name="DataModel Hierarchy"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="jp.hishidama.xtext.dmdl_editor.view.ModelHierarchyView"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

   <extension-point id="dmdlImporterExporterGenerator" name="DMDL Importer/Exporter generator" schema="schema/dmdlImporterExporterGenerator.exsd"/>
   <extension
         point="jp.hishidama.xtext.dmdl_editor.ui.dmdlImporterExporterGenerator">
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioCsvImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioCsvExporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioSeqfileImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioSeqfileExporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioTsvImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.DirectioTsvExporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateCsvImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateCsvExporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateJdbcImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateJdbcExporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateTsvImporterGenerator">
      </classpath>
      <classpath
            class="jp.hishidama.xtext.dmdl_editor.ui.internal.extension.portergen.WindgateTsvExporterGenerator">
      </classpath>
   </extension>
   <extension
         id="jdt.assist.category"
         name="DMDL EditorX JDT Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/hishidama16.gif">
      </proposalCategory>
   </extension>
   <extension
         id="jdt.assist.keyStringDmdl"
         name="Key string assist"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="jp.hishidama.xtext.dmdl_editor.ui.jdt.assist.category"
            class="jp.hishidama.xtext.dmdl_editor.jdt.assist.KeyStringDmdlCompletionProposalComputer"
            needsSortingAfterFiltering="false">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="jdt.assist.keyDmdl"
         name="Key assist"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="jp.hishidama.xtext.dmdl_editor.ui.jdt.assist.category"
            class="jp.hishidama.xtext.dmdl_editor.jdt.assist.KeyDmdlCompletionProposalComputer"
            needsSortingAfterFiltering="false">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>

</plugin>
